In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [33]:
# Change the filename 
filename = 'processed_data.csv'
data = pd.read_csv(filename)

In [34]:
data

,X,flag,alon_week,alon_wend,child_bull,comp_house,comp_noint_bed_16,comp_int_bed_16,comp_week,comp_wend,...,talk_phon_wend,text_week,text_wend,tran_week,tran_wend,tv_week,tv_wend,weight_16,work_week,work_wend
0,1,synthetic,1-2 hours,1-2 hours,No,Yes,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,1-2 hours,1-2 hours,59.294132,3 or more hours,3 or more hours
1,2,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.812426,NaN,NaN
4,5,synthetic,1-2 hours,3 or more hours,No,NaN,Yes,NaN,1-2 hours,Less than 1 hour,...,Not at all,Not at all,Not at all,Less than 1 hour,Less than 1 hour,1-2 hours,3 or more hours,62.270030,1-2 hours,1-2 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13729,13730,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,13731,synthetic,1-2 hours,3 or more hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Not at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,3 or more hours,3 or more hours,NaN,1-2 hours,1-2 hours
13731,13732,synthetic,1-2 hours,1-2 hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,1-2 hours,1-2 hours,1 or more hours,1 or more hours,3 or more hours,3 or more hours,58.075832,Less than 1 hour,Less than 1 hour
13732,13733,synthetic,Less than 1 hour,1-2 hours,No,Yes,NaN,NaN,Less than 1 hour,1-2 hours,...,Any at all,1-2 hours,1-2 hours,Less than 1 hour,Less than 1 hour,Not at all,Less than 1 hour,NaN,Less than 1 hour,1-2 hours
13733,13734,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.732913,NaN,NaN

In [35]:
dict_all = {
    
}

In [36]:
directly_related = ['comp_week', 'comp_wend', 'text_week', 'text_wend', 'tv_week', 'tv_wend']
indrirectly_related = ['comp_house', 'comp_noint_bed_16' ,'comp_int_bed_16', 'tran_week', 'tran_wend']

targets  = ['dep_score', 'dep_thoughts', 'has_dep_diag', 'prim_diag', 'secd_diag']

In [37]:
# Directly related
for x in directly_related:
    features = data[[x]].copy()
    features.loc[features[x] == 'Not at all', x] = 0
    features.loc[features[x] == 'Less than 1 hour', x] = 1
    features.loc[features[x] == '1-2 hours', x] = 2
    features.loc[features[x] == '3 or more hours', x] = 3
    
    if x == 'comp_week':
        pd_all = features
    else:
        pd_all[x] = features

In [38]:
pd_all

      comp_week comp_wend text_week text_wend tv_week tv_wend
0             2         2         1         1       2       2
1           NaN       NaN       NaN       NaN     NaN     NaN
2           NaN       NaN       NaN       NaN     NaN     NaN
3           NaN       NaN       NaN       NaN     NaN     NaN
4             2         1         0         0       2       3
...         ...       ...       ...       ...     ...     ...
13729       NaN       NaN       NaN       NaN     NaN     NaN
13730         2         2         1         1       3       3
13731         2         2         2         2       3       3
13732         1         2         2         2       0       1
13733       NaN       NaN       NaN       NaN     NaN     NaN

[13734 rows x 6 columns]

In [39]:
# Integrate all y target columns with directly_related to the screen time
for x in targets:    
    pd_all[x] = data[[x]]

In [40]:
pd_all

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag
0,2,2,1,1,2,2,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,1,0,0,2,3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,2,2,1,1,3,3,NaN,NaN,NaN,NaN,NaN
13731,2,2,2,2,3,3,NaN,NaN,NaN,NaN,NaN
13732,1,2,2,2,0,1,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0
13733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Create inidivudla dataframe of each target and drop NaN
for x in targets:
    tem = directly_related.copy()
    filter_list = tem.append(x)
    
    dict_all[x] = pd_all.filter(tem, axis=1).dropna(axis=0)

In [42]:
dict_all['dep_score']

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             2         2         1         1       2       2        0.0
5             2         1         1         1       2       3        0.0
8             3         3         3         1       2       2        0.0
18            1         2         1         1       1       2        0.0
24            2         3         0         0       2       2        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         3         3         2         2       2       3        0.0
13720         2         3         1         1       1       2        0.0
13722         0         0         0         0       2       0        0.0
13725         2         3         1         1       1       2        2.0
13732         1         2         2         2       0       1        0.0

[3043 rows x 7 columns]

In [43]:
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([2.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([3.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([4.0], 1.0)

In [44]:
dict_all['dep_score']

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             2         2         1         1       2       2        0.0
5             2         1         1         1       2       3        0.0
8             3         3         3         1       2       2        0.0
18            1         2         1         1       1       2        0.0
24            2         3         0         0       2       2        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         3         3         2         2       2       3        0.0
13720         2         3         1         1       1       2        0.0
13722         0         0         0         0       2       0        0.0
13725         2         3         1         1       1       2        1.0
13732         1         2         2         2       0       1        0.0

[3043 rows x 7 columns]

In [45]:
dict_all['dep_score']['dep_score'].value_counts()

0.0    2339
1.0     704
Name: dep_score, dtype: int64

In [46]:
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([2.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([3.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([4.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([5.0], 1.0)

In [47]:
dict_all['dep_thoughts']['dep_thoughts'].value_counts()

1.0    1192
0.0      62
Name: dep_thoughts, dtype: int64

In [48]:
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([2.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([3.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([4.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([5.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([6.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([7.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([8.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([9.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([10.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([11.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([12.0], 1.0)

In [49]:
dict_all['prim_diag']['prim_diag'].value_counts()

0.0    2430
1.0     613
Name: prim_diag, dtype: int64

In [50]:
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([2.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([3.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([4.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([5.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([6.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([7.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([8.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([9.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([10.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([11.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([12.0], 1.0)

In [51]:
dict_all['secd_diag']['secd_diag'].value_counts()

0.0    2721
1.0     322
Name: secd_diag, dtype: int64

In [52]:
# Convert has_dep_diag to 0 or 1
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace([' No ICD-10 diagnosis of depression'], 0)
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace(['Yes ICD-10 diagnosis of depression'], 1)

In [53]:
dict_all['dep_score'].to_csv('total_dep_score.csv', index=False)
dict_all['dep_thoughts'].to_csv('total_dep_thoughts.csv', index=False)
dict_all['has_dep_diag'].to_csv('total_has_dep_diag.csv', index=False)
dict_all['prim_diag'].to_csv('total_prim_diag.csv', index=False)
dict_all['secd_diag'].to_csv('total_secd_diag.csv', index=False)

In [54]:
minimise_target = {
    'dep_score': 0.0, # num=704
    'dep_thoughts': 1.0, # num=62
    'has_dep_diag': 0, # num=242
    'prim_diag': 0.0, # num=613
    'secd_diag': 0.0, # num=322
}



final_outcome = {
    
}

In [55]:
for x in targets:
    num = 0
    
    # Copy 
    copied_dict_all = dict_all[x].copy()
    tem = dict_all[x].copy()
    
    tem = tem.loc[tem[x] == minimise_target[x]]
    
    if x == 'dep_score':
        num = 704
    elif x == 'dep_thoughts':
        num = 62
    elif x == 'has_dep_diag':
        num = 242
    elif x == 'prim_diag':
        num = 613
    elif x == 'secd_diag':
        num = 322
    else:
        pass
    
    final_outcome[x] = tem.sample(n=num).append(copied_dict_all.loc[copied_dict_all[x] != minimise_target[x]])
    final_outcome[x] = final_outcome[x].sample(frac=1)

In [56]:
sampled_dep_score = final_outcome['dep_score']
sampled_dep_thoughts = final_outcome['dep_thoughts']
sampled_has_dep_diag = final_outcome['has_dep_diag']
sampled_prim_diag = final_outcome['prim_diag']
sampled_secd_diag = final_outcome['secd_diag']

In [57]:
sampled_dep_score

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
6891          3         3         0         0       2       2        0.0
10636         1         2         1         1       3       2        1.0
9090          3         3         1         1       2       2        1.0
4359          2         2         1         1       2       2        1.0
9672          1         1         1         1       2       3        1.0
...         ...       ...       ...       ...     ...     ...        ...
4312          2         3         3         3       3       3        0.0
13045         3         2         2         2       1       1        1.0
11551         1         3         2         3       2       2        1.0
12322         2         3         1         1       2       2        0.0
5972          3         2         1         1       2       2        1.0

[1408 rows x 7 columns]

In [58]:
sampled_dep_thoughts

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_thoughts
5365          1         1         3         2       1       2           1.0
9267          2         3         3         3       2       1           0.0
10206         3         3         2         2       1       2           1.0
1996          1         2         1         1       1       1           1.0
7813          1         1         2         2       2       2           1.0
...         ...       ...       ...       ...     ...     ...           ...
6720          3         3         2         2       0       1           0.0
11178         2         0         1         1       3       1           1.0
7743          1         1         1         2       0       1           1.0
1255          2         2         1         1       2       2           1.0
9388          3         3         1         1       3       3           0.0

[124 rows x 7 columns]

In [59]:
sampled_has_dep_diag

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,has_dep_diag
13577,2,2,1,1,3,3,0
1381,1,1,1,1,2,1,0
435,1,2,3,3,2,2,0
6139,1,1,1,2,3,2,0
12241,1,1,1,1,2,2,0
...,...,...,...,...,...,...,...
2221,2,3,0,0,3,3,1
2262,2,2,2,2,2,3,1
3732,1,2,1,1,1,2,1
1272,2,3,3,3,2,2,1
1280,2,2,1,1,1,2,0

In [60]:
sampled_prim_diag

      comp_week comp_wend text_week text_wend tv_week tv_wend  prim_diag
9211          2         2         1         1       1       2        1.0
10902         2         2         2         2       1       2        0.0
11849         2         2         1         2       2       2        1.0
1216          2         2         1         1       2       2        0.0
2398          3         3         1         1       3       3        0.0
...         ...       ...       ...       ...     ...     ...        ...
8506          2         3         1         1       2       2        0.0
4577          1         2         2         2       2       2        0.0
10339         1         2         3         3       1       2        1.0
8942          2         2         2         2       2       3        1.0
5151          1         1         1         1       2       1        0.0

[1226 rows x 7 columns]

In [61]:
sampled_secd_diag

      comp_week comp_wend text_week text_wend tv_week tv_wend  secd_diag
11221         2         2         1         1       1       1        0.0
8609          3         2         1         1       3       3        0.0
8241          3         3         3         3       2       2        0.0
66            1         0         1         2       1       1        1.0
7079          2         2         1         1       2       3        1.0
...         ...       ...       ...       ...     ...     ...        ...
10898         1         2         2         1       1       1        0.0
8687          3         0         1         1       2       2        1.0
7885          2         2         1         2       3       3        1.0
11879         3         3         1         1       2       2        1.0
2262          2         2         2         2       2       3        1.0

[644 rows x 7 columns]

In [62]:
sampled_dep_score.to_csv('sampled_dep_score.csv', index=False)
sampled_dep_thoughts.to_csv('sampled_dep_thoughts.csv', index=False)
sampled_has_dep_diag.to_csv('sampled_has_dep_diag.csv', index=False)
sampled_prim_diag.to_csv('sampled_prim_diag.csv', index=False)
sampled_secd_diag.to_csv('sampled_secd_diag.csv', index=False)