In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# Change the filename 
filename = 'processed_data.csv'
data = pd.read_csv(filename)

In [3]:
data

,X,flag,alon_week,alon_wend,child_bull,comp_house,comp_noint_bed_16,comp_int_bed_16,comp_week,comp_wend,...,talk_phon_wend,text_week,text_wend,tran_week,tran_wend,tv_week,tv_wend,weight_16,work_week,work_wend
0,1,synthetic,1-2 hours,1-2 hours,No,Yes,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,1-2 hours,1-2 hours,59.294132,3 or more hours,3 or more hours
1,2,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.812426,NaN,NaN
4,5,synthetic,1-2 hours,3 or more hours,No,NaN,Yes,NaN,1-2 hours,Less than 1 hour,...,Not at all,Not at all,Not at all,Less than 1 hour,Less than 1 hour,1-2 hours,3 or more hours,62.270030,1-2 hours,1-2 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13729,13730,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,13731,synthetic,1-2 hours,3 or more hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Not at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,3 or more hours,3 or more hours,NaN,1-2 hours,1-2 hours
13731,13732,synthetic,1-2 hours,1-2 hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,1-2 hours,1-2 hours,1 or more hours,1 or more hours,3 or more hours,3 or more hours,58.075832,Less than 1 hour,Less than 1 hour
13732,13733,synthetic,Less than 1 hour,1-2 hours,No,Yes,NaN,NaN,Less than 1 hour,1-2 hours,...,Any at all,1-2 hours,1-2 hours,Less than 1 hour,Less than 1 hour,Not at all,Less than 1 hour,NaN,Less than 1 hour,1-2 hours
13733,13734,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.732913,NaN,NaN

In [4]:
dict_all = {
    
}

In [5]:
directly_related = ['comp_week', 'comp_wend', 'text_week', 'text_wend', 'tv_week', 'tv_wend']
indrirectly_related = ['comp_house', 'comp_noint_bed_16' ,'comp_int_bed_16', 'tran_week', 'tran_wend']

targets  = ['dep_score', 'dep_thoughts', 'has_dep_diag', 'prim_diag', 'secd_diag']

In [6]:
# Directly related
for x in directly_related:
    features = data[[x]].copy()
    features.loc[features[x] == 'Not at all', x] = 0
    features.loc[features[x] == 'Less than 1 hour', x] = 1
    features.loc[features[x] == '1-2 hours', x] = 1
    features.loc[features[x] == '3 or more hours', x] = 1
    
    if x == 'comp_week':
        pd_all = features
    else:
        pd_all[x] = features

In [7]:
pd_all

      comp_week comp_wend text_week text_wend tv_week tv_wend
0             1         1         1         1       1       1
1           NaN       NaN       NaN       NaN     NaN     NaN
2           NaN       NaN       NaN       NaN     NaN     NaN
3           NaN       NaN       NaN       NaN     NaN     NaN
4             1         1         0         0       1       1
...         ...       ...       ...       ...     ...     ...
13729       NaN       NaN       NaN       NaN     NaN     NaN
13730         1         1         1         1       1       1
13731         1         1         1         1       1       1
13732         1         1         1         1       0       1
13733       NaN       NaN       NaN       NaN     NaN     NaN

[13734 rows x 6 columns]

In [8]:
# Integrate all y target columns with directly_related to the screen time
for x in targets:    
    pd_all[x] = data[[x]]

In [9]:
pd_all

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag
0,1,1,1,1,1,1,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
13731,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
13732,1,1,1,1,0,1,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0
13733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Create inidivudla dataframe of each target and drop NaN
for x in targets:
    tem = directly_related.copy()
    filter_list = tem.append(x)
    
    dict_all[x] = pd_all.filter(tem, axis=1).dropna(axis=0)

In [11]:
dict_all['dep_score']

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             1         1         1         1       1       1        0.0
5             1         1         1         1       1       1        0.0
8             1         1         1         1       1       1        0.0
18            1         1         1         1       1       1        0.0
24            1         1         0         0       1       1        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         1         1         1         1       1       1        0.0
13720         1         1         1         1       1       1        0.0
13722         0         0         0         0       1       0        0.0
13725         1         1         1         1       1       1        2.0
13732         1         1         1         1       0       1        0.0

[3043 rows x 7 columns]

In [12]:
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([2.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([3.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([4.0], 1.0)

In [13]:
dict_all['dep_score']

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             1         1         1         1       1       1        0.0
5             1         1         1         1       1       1        0.0
8             1         1         1         1       1       1        0.0
18            1         1         1         1       1       1        0.0
24            1         1         0         0       1       1        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         1         1         1         1       1       1        0.0
13720         1         1         1         1       1       1        0.0
13722         0         0         0         0       1       0        0.0
13725         1         1         1         1       1       1        1.0
13732         1         1         1         1       0       1        0.0

[3043 rows x 7 columns]

In [14]:
dict_all['dep_score']['dep_score'].value_counts()

0.0    2339
1.0     704
Name: dep_score, dtype: int64

In [16]:
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([2.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([3.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([4.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([5.0], 1.0)

In [17]:
dict_all['dep_thoughts']['dep_thoughts'].value_counts()

1.0    1192
0.0      62
Name: dep_thoughts, dtype: int64

In [18]:
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([2.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([3.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([4.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([5.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([6.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([7.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([8.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([9.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([10.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([11.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([12.0], 1.0)

In [19]:
dict_all['prim_diag']['prim_diag'].value_counts()

0.0    2430
1.0     613
Name: prim_diag, dtype: int64

In [20]:
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([2.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([3.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([4.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([5.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([6.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([7.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([8.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([9.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([10.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([11.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([12.0], 1.0)

In [21]:
dict_all['secd_diag']['secd_diag'].value_counts()

0.0    2721
1.0     322
Name: secd_diag, dtype: int64

In [22]:
# Convert has_dep_diag to 0 or 1
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace([' No ICD-10 diagnosis of depression'], 0)
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace(['Yes ICD-10 diagnosis of depression'], 1)

In [ ]:
dict_all['dep_score'].to_csv('total_dep_score.csv', index=False)
dict_all['dep_thoughts'].to_csv('total_dep_thoughts.csv', index=False)
dict_all['has_dep_diag'].to_csv('total_has_dep_diag.csv', index=False)
dict_all['prim_diag'].to_csv('total_prim_diag.csv', index=False)
dict_all['secd_diag'].to_csv('total_secd_diag.csv', index=False)

In [24]:
minimise_target = {
    'dep_score': 0.0, # num=704
    'dep_thoughts': 1.0, # num=62
    'has_dep_diag': 0, # num=389
    'prim_diag': 0.0, # num=613
    'secd_diag': 0.0, # num=322
}



final_outcome = {
    
}

In [25]:
for x in targets:
    num = 0
    
    # Copy 
    copied_dict_all = dict_all[x].copy()
    tem = dict_all[x].copy()
    
    tem = tem.loc[tem[x] == minimise_target[x]]
    
    if x == 'dep_score':
        num = 704
    elif x == 'dep_thoughts':
        num = 62
    elif x == 'has_dep_diag':
        num = 389
    elif x == 'prim_diag':
        num = 613
    elif x == 'secd_diag':
        num = 322
    else:
        pass
    
    final_outcome[x] = tem.sample(n=num).append(copied_dict_all.loc[copied_dict_all[x] != minimise_target[x]])
    final_outcome[x] = final_outcome[x].sample(frac=1)

In [26]:
sampled_dep_score = final_outcome['dep_score']
sampled_dep_thoughts = final_outcome['dep_thoughts']
sampled_has_dep_diag = final_outcome['has_dep_diag']
sampled_prim_diag = final_outcome['prim_diag']
sampled_secd_diag = final_outcome['secd_diag']

In [27]:
sampled_dep_score

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
617           1         1         1         1       1       1        0.0
4211          1         1         1         1       1       1        0.0
12846         1         1         1         1       1       1        0.0
10231         1         1         1         1       1       1        1.0
4272          0         0         1         1       1       1        1.0
...         ...       ...       ...       ...     ...     ...        ...
11716         1         1         1         1       1       1        0.0
8642          1         1         1         1       1       1        1.0
63            1         1         1         1       1       1        0.0
12134         1         1         1         1       1       1        0.0
7173          1         1         0         0       1       1        0.0

[1408 rows x 7 columns]

In [28]:
sampled_dep_thoughts

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_thoughts
565           1         1         1         1       1       1           0.0
2226          1         1         1         1       1       1           1.0
13045         1         1         1         1       1       1           0.0
593           1         1         1         1       1       1           0.0
13079         1         1         1         1       1       1           1.0
...         ...       ...       ...       ...     ...     ...           ...
9247          1         1         1         1       1       1           0.0
1028          1         1         1         1       1       1           0.0
9464          1         1         1         1       1       1           0.0
1227          1         1         1         1       1       1           0.0
523           1         1         1         1       1       1           0.0

[124 rows x 7 columns]

In [29]:
sampled_has_dep_diag

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,has_dep_diag
12556,1,0,1,1,1,1,1
109,1,1,1,1,0,0,1
8938,1,1,1,1,1,1,0
2960,1,1,1,1,1,1,0
13053,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
11578,1,1,1,0,1,1,0
9669,1,1,1,1,1,1,1
12895,1,1,0,0,1,1,1
4778,1,1,1,1,1,1,1
7693,1,1,1,1,1,1,1

In [30]:
sampled_prim_diag

      comp_week comp_wend text_week text_wend tv_week tv_wend  prim_diag
2014          1         1         1         1       0       1        1.0
1048          1         0         1         1       1       1        0.0
8942          1         1         1         1       1       1        1.0
9363          1         1         1         1       1       1        1.0
12754         1         1         1         1       1       1        1.0
...         ...       ...       ...       ...     ...     ...        ...
4946          1         1         1         1       1       1        0.0
11136         1         1         1         1       1       1        1.0
114           1         1         1         1       1       1        0.0
7930          1         1         1         1       0       0        1.0
10703         1         1         1         1       1       1        1.0

[1226 rows x 7 columns]

In [31]:
sampled_secd_diag

      comp_week comp_wend text_week text_wend tv_week tv_wend  secd_diag
11433         1         1         1         1       1       1        1.0
11656         1         1         1         1       1       1        1.0
10442         1         1         1         1       1       1        1.0
11982         1         1         1         1       1       1        1.0
2656          1         1         1         1       1       1        1.0
...         ...       ...       ...       ...     ...     ...        ...
852           1         1         1         1       1       1        1.0
2547          1         1         1         1       1       1        1.0
11855         1         1         1         1       1       1        1.0
10537         1         1         1         1       1       1        1.0
11738         1         1         1         1       1       1        1.0

[644 rows x 7 columns]

In [32]:
sampled_dep_score.to_csv('sampled_dep_score.csv', index=False)
sampled_dep_thoughts.to_csv('sampled_dep_thoughts.csv', index=False)
sampled_has_dep_diag.to_csv('sampled_has_dep_diag.csv', index=False)
sampled_prim_diag.to_csv('sampled_prim_diag.csv', index=False)
sampled_secd_diag.to_csv('sampled_secd_diag.csv', index=False)